.widget-demo {
	color: #fff;
	background: #000;
	display: flex;
	@include media ($tablet) {
		background: #aaa;
		h1 {
			font-size: .3rem;
		}
	}
	@include media ($desktop) {
		color: #333;
		background: #ccc;
		h1 {
			font-size: .4rem;
		}
	}
	h1 {
		font-size: .2rem;
	}
}
